configuration {
	kb-row-up: "Up,Control+k,ISO_Left_Tab";
	kb-row-down: "Down,Control+j";
	kb-remove-to-eol: "";
	kb-accept-entry: "Control+m,Return,KP_Enter";
}
@import "/home/purxiz/.config/rofi/themes/sorta-nord.rasi"
